*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}


.overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 2rem;
  max-width: 90vw;
  margin: auto;
  font-size: 2.5vw;
  font-weight: 700;
  text-shadow: 2px 2px 16px rgba(0,0,0,0.7), 0 0 8px #222;
}

.overlay h1 {
  font-size: 4vw;
  margin-bottom: 1vw;
}

.overlay h2 {
  font-size: 2.5vw;
  margin-bottom: 1vw;
}

.overlay p {
  font-size: 2vw;
  margin-bottom: 1vw;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .overlay {
    font-size: 6vw;
    padding: 1rem;
  }
  .overlay h1 {
    font-size: 10vw;
  }
  .overlay h2 {
    font-size: 7vw;
  }
  .overlay p {
    font-size: 5vw;
  }
}